@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #B2675E;
    --color-secondary-dark: #644536;
    --color-secondary-light: #6F7C12;
    --color-background-light: #F2F5EA;
    --color-background-dark: #D6DBD2;
}

/* Global styles for sticky footer */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Variáveis CSS customizadas */
:root {
    --coffee: #644536;
    --terracotta: #B2675E;
    --ivory: #F2F5EA;
    --dust: #D6DBD2;
    --olive: #6F7C12;
}

/* Utility classes */
.font-serif {
    font-family: 'Playfair Display', serif;
}

/* Fix para o Tailwind não quebrar estilos inline */
* {
    box-sizing: border-box;
}
